[submodule "themes/kratos-rebirth"]
	path = themes/kratos-rebirth
	url = git@github.com:teble/Kratos-Rebirth.git
[submodule "source/_posts"]
	path = source/_posts
	url = git@github.com:teble/blog-post.git
